.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  gap: 1.5rem;
}
